/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  margin: auto;
}
nav {
  overflow: hidden;
  width: 77%;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  top: 0;
  left: 50%;
  background-color: white;
  font-size: 1.4rem;
  transition: 0.4s;
}
nav a {
  padding: 0 0 0 1.4rem;
}
main {
  width: 77%;
  margin: auto;
}
main .intro {
  border: 1px solid #e9ecef;
  background-color: #e9ecef;
  border-radius: 5px;
  padding-left: 2rem;
}
main .intro img {
  width: 300px;
  border-radius: 5px;
  margin: 50px 0 20px;
}
main .intro .name {
  text-align: left;
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
}
main .intro .name h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
main .intro .name h1 span {
  font-size: 1.8rem;
}
main .intro .name p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
main .intro .name-det p {
  font-size: 1.2rem;
  margin: 20px 0;
}
main .intro .name-det button {
  font-size: 1.4rem;
  border-radius: 5px;
  background: grey;
  color: white;
  border: 1px solid grey;
  padding: 8px;
  margin: 5px 0 50px;
}
main .listen {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
main .listen .lis-up {
  width: 50%;
}
main .listen .lis-up h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
main .listen .lis-up p {
  line-height: 1.3;
  font-size: 1.1rem;
  padding-right: 15px;
}
main .listen .skills {
  width: 50%;
}
main .listen .skills h1 {
  font-size: 1.6rem;
  font-weight: bold;
}
main .listen .skills .box {
  border: 1px solid rgba(128, 128, 128, 0.349);
  border-radius: 3px;
}
main .listen .skills .box div {
  padding: 18px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.349);
}
main .listen .skills .box div:last-child {
  border-bottom: none;
}
main .work {
  margin-top: 50px;
}
main .work .work-title {
  font-size: 1.6rem;
  font-weight: bold;
}
main .work .work-grid .row {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid rgba(128, 128, 128, 0.349);
}
main .work .work-grid .row h1 {
  width: 100%;
  padding: 15px 10px;
}
main .work .work-grid .row .first {
  font-weight: bold;
}
main .work .work-grid .mainRow {
  font-weight: bold;
}
main .work .work-grid .grey {
  background-color: #e9ecef;
}
footer {
  width: 80%;
  margin: auto;
  background-color: grey;
  text-align: center;
  margin-top: 30px;
}
footer p {
  padding: 20px;
  color: white;
}
